<h1>Listing annotations</h1>

<table>
  <thead>
    <tr>
      <th>Go id</th>
      <th>annotation name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @annotations.each do |annotation| %>
      <tr>
        <td><%= annotation.go_id %></td>
        <td><%= annotation.annotation_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


